/* Resetting default margin and padding */
body, h1, h2, nav, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #817979;
    padding-bottom: 100px; /* Adjust according to the height of the footer */
    position: relative; /* Make the body a positioning context for absolutely positioned elements */
}

/* Header styles */
h1 {
    text-align: center;
    padding: 20px 0;
}

h3 {
    text-align: center;
    padding: 20px 0;
}

/* Navigation styles */
nav {
    background-color: #940505;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button (or text link) */
  .dropbtn {
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #940505;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(136, 10, 10, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #bd1a04;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button (or text link) when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #940505;
  }
  


/* Table styles */
table {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-collapse: collapse;
}
.credit {
    color: rgb(42, 15, 192); 
}
.overdrawn {
    color: #f00; 
    font-weight: bold; 
}



th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Footer styles */
footer {
    background-color: #940505;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;

}
footer a {
    color: #f0d806; 
    text-decoration: none; 
    
}

footer a:hover {
    color: #f78e04;
    text-decoration: none;
   
}
